<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1 id="title"> Sentiment Analysis </h1>
    <form action = "http://localhost:5000/sentiment_analysis" method="post">
        <p><input type="text" id="review" name="review" placeholder="Enter your review here" autocomplete="off"/> </p>
        <p><input type="submit" id="submit" value="Submit" /></p>
     </form>   

    {% if rating %}
        <p id="review_text">{{review_text}}</p>
        <p> <img id="rating" src="/static/{{rating}}.jpg" /> </p>

        
        <div class="probs_section">
          {{ exp | safe }}
        </div>
    {% endif %}

  </body>
</html>